In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [2]:
# import some data to play with
df= pd.read_csv("C:/Users/khann/OneDrive/Desktop/excel r assignments/Company_Data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [3]:

df.loc[df.Sales<=8, "Sales"]='Bad'
df.loc[df.Sales!='Bad', "Sales"]= 'Good'

df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,Good,138,73,11,276,120,Bad,42,17,Yes,Yes
1,Good,111,48,16,260,83,Good,65,10,Yes,Yes
2,Good,113,35,10,269,80,Medium,59,12,Yes,Yes
3,Bad,117,100,4,466,97,Medium,55,14,Yes,Yes
4,Bad,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,Good,138,108,17,203,128,Good,33,14,Yes,Yes
396,Bad,139,23,3,37,120,Medium,55,11,No,Yes
397,Bad,162,26,12,368,159,Medium,40,18,Yes,Yes
398,Bad,100,79,7,284,95,Bad,50,12,Yes,Yes
399,Good,134,37,0,27,120,Good,49,16,Yes,Yes

In [6]:
data_cleaned=pd.get_dummies(df,columns=['ShelveLoc','Urban','US'],drop_first=True)
data_cleaned

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
0,Good,138,73,11,276,120,42,17,0,0,1,1
1,Good,111,48,16,260,83,65,10,1,0,1,1
2,Good,113,35,10,269,80,59,12,0,1,1,1
3,Bad,117,100,4,466,97,55,14,0,1,1,1
4,Bad,141,64,3,340,128,38,13,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,Good,138,108,17,203,128,33,14,1,0,1,1
396,Bad,139,23,3,37,120,55,11,0,1,0,1
397,Bad,162,26,12,368,159,40,18,0,1,1,1
398,Bad,100,79,7,284,95,50,12,0,0,1,1
399,Good,134,37,0,27,120,49,16,1,0,1,1

In [8]:
#Complete fraud dataset
data=data_cleaned.iloc[:,1:12]
data

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
0,138,73,11,276,120,42,17,0,0,1,1
1,111,48,16,260,83,65,10,1,0,1,1
2,113,35,10,269,80,59,12,0,1,1,1
3,117,100,4,466,97,55,14,0,1,1,1
4,141,64,3,340,128,38,13,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,1,0,1,1
396,139,23,3,37,120,55,11,0,1,0,1
397,162,26,12,368,159,40,18,0,1,1,1
398,100,79,7,284,95,50,12,0,0,1,1
399,134,37,0,27,120,49,16,1,0,1,1

In [10]:
target=data_cleaned.iloc[:,0]
target

0      Good
1      Good
2      Good
3       Bad
4       Bad
       ...
395    Good
396     Bad
397     Bad
398     Bad
399    Good
Name: Sales, Length: 400, dtype: object

In [11]:
x=data
y=target

In [12]:
x

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
0,138,73,11,276,120,42,17,0,0,1,1
1,111,48,16,260,83,65,10,1,0,1,1
2,113,35,10,269,80,59,12,0,1,1,1
3,117,100,4,466,97,55,14,0,1,1,1
4,141,64,3,340,128,38,13,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,1,0,1,1
396,139,23,3,37,120,55,11,0,1,0,1
397,162,26,12,368,159,40,18,0,1,1,1
398,100,79,7,284,95,50,12,0,0,1,1
399,134,37,0,27,120,49,16,1,0,1,1

In [13]:
y

0      Good
1      Good
2      Good
3       Bad
4       Bad
       ...
395    Good
396     Bad
397     Bad
398     Bad
399    Good
Name: Sales, Length: 400, dtype: object

In [14]:
# Splitting data into training and testing data set
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

### Building Decision Tree Classifier using Entropy Criteria

In [15]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [16]:
model.get_n_leaves()

8

In [17]:
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts() # getting the count of each category

Bad     48
Good    32
dtype: int64

In [18]:
preds

array(['Good', 'Bad', 'Good', 'Bad', 'Bad', 'Bad', 'Good', 'Bad', 'Bad',
       'Good', 'Good', 'Bad', 'Bad', 'Good', 'Good', 'Bad', 'Good', 'Bad',
       'Bad', 'Bad', 'Good', 'Bad', 'Bad', 'Good', 'Bad', 'Bad', 'Good',
       'Bad', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Bad', 'Bad', 'Bad', 'Bad', 'Good', 'Bad', 'Bad', 'Bad',
       'Bad', 'Good', 'Bad', 'Bad', 'Bad', 'Bad', 'Bad', 'Bad', 'Bad',
       'Bad', 'Bad', 'Good', 'Good', 'Bad', 'Good', 'Bad', 'Bad', 'Bad',
       'Good', 'Bad', 'Bad', 'Good', 'Good', 'Bad', 'Bad', 'Good', 'Good',
       'Good', 'Bad', 'Bad', 'Good', 'Bad', 'Bad', 'Bad', 'Bad', 'Good'],
      dtype=object)

In [19]:
pd.crosstab(y_test,preds) # getting the 2 way table to understand the correct and wrong predictions

col_0  Bad  Good
Sales
Bad     40    13
Good     8    19

In [20]:
# Accuracy 
np.mean(preds==y_test)

0.7375

In [21]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

         Bad       0.75      0.83      0.79        48
        Good       0.70      0.59      0.64        32

    accuracy                           0.74        80
   macro avg       0.73      0.71      0.72        80
weighted avg       0.73      0.74      0.73        80

### Building Decision Tree Classifier (CART) using Gini Criteria

In [22]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [23]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [24]:
#Prediction and computing the accuracy
pred=model.predict(x_test)
np.mean(preds==y_test)

0.7375